version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: urbania_mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
